html, body {
  background: #fff;
  font-size:24px;
  font-family: 'Caveat', cursive;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 0px;
}

/* #f6f2e9 */

a, a:hover {text-decoration: none; color: #000;}

::-moz-selection {
color : #fff;
background : yellow;
text-shadow : none;
}
::selection {
color : #fff;
background : #FDD835;
text-shadow : none;
}

.header {
  background: url('6.jpg') no-repeat center top / cover;
  height: 950px;
  width: 100%;
}
.nav {
  position: fixed;
  display: flex;
  padding: 0px;
  font-size: 1.5em;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 85px;
  background: #fff;
  z-index: 41;
}

.logo {
  position: absolute;
  display: block;
  left: 50px;
  margin: 20px;
}

.nav__items {
  position: absolute;
  display: flex;
  right: 50px;
  z-index: 10;
}

.nav__item {
  margin: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav__item:hover {
  color: #FF9E80;
}

.lang {
  font-size: 16px;
  position: absolute;
  right: 10px;
  line-height: 0px;
  width: 26px;
  top: 5px;
}

.container {
  width: 100%;
  padding: 0px;
  justify-content: center;
  margin: 100px 0px;
}

.glavnaya {
  display: flex;
  justify-content: center;
  margin: 0px auto;
}

.about {
  width: 30%;
  margin: 0px 15% 0px 0px;
  font-size: 1.5em;
}

.director {
  width: 30%;
}

.button {
  width: 250px;
  height: 60px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  display: block;
  margin: auto;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  padding: 10px 0px;
  margin-top:100px;
}

.button:hover {
  background: #000;
  color: #fff;
}

.teachers, .students {
  margin: 150px 0px;
}

p {
  font-size: 5em;
  text-align: center;
}

.teachers__back {
  background: url('20.jpg') no-repeat center top / cover;
  align-items: center;
  height: 1000px;
  padding-top: 400px;
  color: #fff;
}

.students__back {
  background: url('2.jpg') no-repeat center top / cover;
  align-items: center;
  height: 1000px;
  padding-top: 400px;
  color: #fff;
}

.teachers__boxes, .students__boxes {
    display: block;
  margin: 0px auto;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.teachers_box, .ss {
  width: 300px;
  height: 300px;
  margin: 50px;
  background: #dadada;
  transition: 0.3s;
  box-shadow: 0px 0px 28px 9px rgba(0, 0, 0, 0.25);
}

.big {
  width: 320px;
  height: 350px;
  margin: 0px 30px;
}

.teachers_box:hover, .ss:hover {
  transform: scale(0.96);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.25);
}

.t1 {
  background: url('t1.jpg') no-repeat center top / cover;
}

.t2 {
  background: url('t2.jpg') no-repeat center top / cover;
}

.students_box1 {
  background: url('s1.jpg') no-repeat center top / cover;
}

.students_box2 {
  background: url('s2.jpg') no-repeat center top / cover;
}

.students_box3 {
  background: url('s3.jpg') no-repeat center top / cover;
}

.teachers_box h1, .ss h1 {
  font-size: 1.2em;
  text-align: center;
  margin-top:230px;
}

.teachers .big h1 {
  margin-top: 270px;
}

.eshe {
  background: url('11.jpg') no-repeat center top / cover;
  height: 950px;
  width: 100%;
}

.other {
  font-size: 2rem;
  margin-top: 100px;
  text-align: center;
}

.burger {display: none;
  position: relative;
  z-index: 40;}

.phone {display: none}

@media only screen and (max-width: 1500px) {
  .nav {font-size: 1.2em}
  .comp {display: none;}
  .phone {display: block;}
  .glavnaya {
    display: block;
  }
  .glavnaya {display: block;
    padding: 0px 50px;}
  .about, .director {
    width: 100%;
    margin: 50px 0px;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1150px) {
  .nav {
    height: 40px;
    z-index: 49;
    font-size: 1.5em;
    align-items: center;
  }

   .logo {
    z-index: 11;
    top: 0;
    text-align: center;
    align-items: center;
    left: auto;
    margin: 0px;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    font-size: 30px;
    background: #fff
  }

  .burger {
    display: block;
    position: absolute;
    right: 30px;
    width: 30px;
    height: 20px;
    top: 20px;
  }

  .burger span{
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    left: 0;
    top: 0px;
    transition: all 0.3s ease 0s;
  }

  .burger:before, .burger:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .burger:before{
    top:9px;
  }

  .burger:after {
    bottom: 0px;
  }

  .burger.active:before{
    transform: rotate(45deg);
    top: 9px;
  }
  .burger.active:after{
    transform: rotate(-45deg);
    bottom:8px;
  }
  .burger.active span {
    transform: scale(0);
  }
  .nav__items {
    padding-top: 60px;
    margin-top: 20px;
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 275px;
    background-color: #fff;
    flex-wrap: wrap;
    transition: all 0.5s;
  }

  .lang {
    margin-top: 0px;
    padding-bottom: 20px;
    position: fixed;
    top:-100%;
    left: 0;
    width: 100%;
    height: 20px;
    justify-content: center;
    background-color: #fff;
    transition: all 0.5s;
    display: flex;
    z-index: 2;
  }

  .lang img {
    margin: 0px 10px;
    width: 30px;
  }

  .lang.active{
    top:355px;
    transition: all 0.5s;
  }

  .nav__items.active {
    top:0;
    transition: all 0.5s;
  }


  .list {
    width: 100%;
    margin: 0px;
    height: 30px;
  }

  .nav__item {
    margin: 3px 0px;
    font-size: 20px;
    top: -100%;
    transition: all 0.5s;
    text-align: center;
  }

  .nav__items.active .nav__item {
    top:0;
    transition: all 0.5s;
  }

  .tel {
    text-align: center;
    width: 100%;
    height: 20px;
  }

  .container {margin: 30px 0px;}

  .glavnaya {display: block;
    padding: 0px 20px;}
  .about, .director {
    width: 100%;
    margin: 20px 0px;
    font-size: 1em;
  }
  p {font-size: 3em}

  .teachers_box, .ss {
    margin: 20px;
  }

  .big {
    margin: 20px 0px;
  }

  .teachers .big h1 {
    font-size: 1.2em;
  }

  .teachers_box h1 {
    font-size: 0.8em;
  }

}
